/*VARIABLES*/
/*CONDICIONALES*/
.card-body {
  background-color: #B298DC; }

/*mixin*/
.titular {
  font-weight: bold;
  animation-delay: 5s; }
  .titular p {
    animation-duration: 3s;
    animation-name: deslizamiento; }

@keyframes deslizamiento {
  from {
    margin-left: 100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*HEADER*/
header {
  position: fixed;
  top: 0px;
  left: 0;
  opacity: 100% !important;
  margin: auto;
  width: 100%;
  font-family: 'Meera Inimai', sans-serif;
  z-index: 150;
 }
 .navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
}
 @media (min-width: 320px) {
  .container5 {
  margin-top: 100px ;
}
}

.header__h1Header {
  font-size: 25px; }

/*SLIDER*/
.carousel-inner img {
  margin-top: 90px;
  max-height: 80vh;
  object-fit: cover;
  filter: grayscale(20%); 
}
.carousel-control-prev {
  color: #6F2DBD;
}

.carousel {
  position: relative; 

}

/*GALERIA*/
.galeria {
  margin-top: 150px; }

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px); }

/*FONDO DONACIONES*/
.fondo__imagenFondo {
  margin-top: 150px; }

.fondo__colorTitulo {
  margin-top: 150px;
  color: black;
  text-align: center; }

.fondo__colorTitulo--colorUno {
  color: #1d3557;
  text-align: justify;
  border: outset; }

.overlay {
  margin-top: 100px; }

.bg-dark {
  background-color: #B298DC !important; }

ul {
  list-style: none; }

a.nav-link {
  font-family: 'Meera Inimai', sans-serif;
  font-size: 20px;
  font-weight: bold; }

  

.d-none {
  font-family: 'Meera Inimai', sans-serif;
  text-align: right !important; }

small{
  font-family: 'Meera Inimai', sans-serif,bold;
  font-weight: bold;
}
h2{
  font-family: 'Meera Inimai', sans-serif,bold;
  font-weight: bold;
}

p {
  font-family: 'Meera Inimai', sans-serif;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px; }

.d-none.fn {
  font-size: 45px;
  background-color: rgba(255, 255, 255, 0); }

.d-none {
  background-color: #f3b6f89f;
  font-weight: bold;
  margin-right: 0px; }

iframe {
  margin-top: 100px;
  width: 100%;
  margin: auto;
  display: block; }

.colorTitulo {
  margin-top: 150px;
  color: black;
  text-align: center; }

h1 {
  font-family: 'Meera Inimai', sans-serif;
  text-align: right;
  font-size: 30px; }

h2 {
  margin-bottom: 20px;
  font-size: 45px; }

h5 {
  text-align: center; }

small {
  font-size: 20px; }

section {
  margin-bottom: 100px; }

.video {
  width: 80% !important; }

  .navbar-brand {
    display: inline-flex; }

.header__h1Header {
  margin-left: 20px;
  margin-top: 10px; }

.img__manzi {
  height: 50px;
  width: 50px; }

.imagenPortada .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: black; }

.imagenPortada .overlay .container,
.imagenPortada .overlay .row {
  height: 100%; }

.misionVisionValores {
  font-size: 20px; }

.btn-manzi {
  background-color: #9D50BB;
  color: white; }

.btn-outline-light {
  color: black;
  background-color: #9D50BB; }

.boton {
  margin-left: 47%; }

.colorTres {
  color: #6F2DBD;
  text-align: justify;
  border: outset; }

.pElCambio {
  text-align: center; }

.imagenPortada {
  margin-bottom: 100px;
  height: 100%;
  width: 100%; 
}
 
.imagenPortada:hover .portada {-webkit-transform:scale(1.1);transform:scale(1.1);
transition: 1s;}
.imagenPortada {overflow:hidden;}
.portada {
  margin: auto;
  width: 100%;
  height: 100%; }

.iconosPortada {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  padding-top: 10px; }

.video {
  margin-top: 100px;
  width: 50%;
  margin: auto;
  display: block; }

.card2 {
  background-color: #B298DC !important;
 }

.card-text-p {
  margin-bottom: 23px; 
}
.card-text2{
  font-size: 20px;
}

/*FOOTER*/
footer {
  margin: 0;
  padding: 0;
  margin-top: 200px; }

.footer__portadaFin {
  filter: grayscale(60%);
  max-height: 80vh;
  margin: auto;
  width: 100%; }

.footer__redes {
  margin-bottom: -120px;
  padding-bottom: 0px;
  display: flex;
  box-sizing: border-box;
  height: 100vg;
  align-items: center;
  justify-content: center; }

.footer__redes--redesSociales {
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  animation-duration: 3s;
  animation-name: desplazoRedes; }

.footer__redes ul li {
  display: inline-block; }

@keyframes desplazoRedes {
  from {
    margin-left: 300%; }
  to {
    margin-left: 0%; } }

.footer__colorTitulo {
  margin-top: 150px;
  color: white;
  text-align: center; }

.footer__colorTitulo--enLaLucha {
  font-size: 20px; }

.footer-copyright {
  background-color: #d64ad6; }

.container-footer {
  background-color: #9d50bba8; }

.imagenPortadaDonaciones {
  height:400px;
  width: 100%;
}

/*BOTON WS*/
#float-cta {
	position: fixed;
	bottom: 35px;
	right: 35px;
	z-index: 9999999999
}
#float-cta a {
	display: inline-block;
	background-color: #25d366;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	color: #fff;
	-webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
	transition: 0.3s
}
#float-cta a:hover,
#float-cta a:focus {
	text-decoration: none;
	background-color: #128c7e
}
#float-cta a .fa-times,
#float-cta a .fa-whatsapp {
	transition: 0.3s
}
#float-cta a .fa-times {
	visibility: hidden;
	opacity: 0;
	display: none
}
#float-cta a.open .fa-times {
	visibility: visible;
	opacity: 1;
	display: block
}
#float-cta a.open .fa-whatsapp {
	visibility: hidden;
	opacity: 0;
	display: none
}
#float-cta span {
	position: absolute;
	left: -150px;
	width: 190px;
	top: 16px;
	background-color: #999;
	color: #fff;
	padding: 5px 3px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;
	text-align: center;
	letter-spacing: 0.5px;
	opacity: 0;
	transition: 0.3s;
	visibility: hidden
}
#float-cta .whatsapp-msg-container {
	visibility: hidden;
	position: absolute;
	right: 0;
	bottom: -20px;
	opacity: 0;
	transform: translateY(-70px);
	width: 300px;
	overflow: hidden;
	-webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
	transition: 0.3s
}
#float-cta .whatsapp-msg-container.open {
	visibility: visible;
	bottom: 0;
	opacity: 1
}
#float-cta .whatsapp-msg-header {
	text-align: center;
	background-color: #25d366;
	color: #fff;
	padding: 10px
}
#float-cta .whatsapp-msg-header h6 {
	font-weight: 700;
	font-size: 16px;
	font-size: 1rem;
	margin: 0
}
#float-cta .whatsapp-msg-body {
	padding: 5px
}
#float-cta .whatsapp-msg-body textarea {
	width: 100%;
	height: 200px;
	border: none;
	padding: 15px
}
#float-cta .whatsapp-msg-body textarea.placeholder,
#float-cta .whatsapp-msg-body textarea::placeholder {
	color: lightgray;
	font-size: 14px
}
#float-cta .whatsapp-msg-footer {
	text-align: center;
	background-color: #fff;
	border-top: 1px solid lightgray;
	padding: 5px
}
#float-cta .btn-whatsapp-send {
	display: block;
	width: 100%;
	border: 2px solid #25d366;
	font-weight: 700;
	color: #fff;
	background-color: #25d366;
	padding: 7px 15px;
	transition: 0.3s
}
#float-cta .btn-whatsapp-send:hover {
	background-color: #fff;
	color: #25d366
}
#float-cta:hover span {
	opacity: 1;
	left: -200px;
	visibility: visible
}
#float-cta.open span {
	display: none
}

  @media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-3 {
    float: left;
    width: 25%;
    max-width: 100%; } }
    
    .carousel-multi-item-2 .card1 img {
    border-radius: 2px; 
    background-color: #FFF;
  }
  div.card-body {
    background-color: #FFF;
  }
  div.card2-body{
    background-color:#B298DC;
  }
  .titular{
    margin-bottom: 50px;
  }
  .card-img-top {
    width: 100%;
  }
  @import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.banner6 {
  font-family: 'Meera Inimai', sans-serif;
  color: #8d97ad;
  font-weight: 300;
  overflow: hidden;
  position: relative;
}

.banner6 h1,
.banner6 h2,
.banner6 h3,
.banner6 h4,
.banner6 h5,
.banner6 h6 {
  color: #3e4555;
}

.banner6 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.banner6 a {
  text-decoration: none;
}

.banner6 .btn-danger-gradiant {
  background: rgba(252,236,252,1);
  background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -webkit-gradient (left top, right top, color-stop (0%, rgba(252,236,252,1)), color-stop(15%, rgba(251,166,225,1)), color-stop(92%, rgba(253,137,215,1)), color-stop(100%, rgba(255,124,216,1)));
  background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
 
}

.banner6 .btn-danger-gradiant:hover {
background: rgba(255,93,177,1);
background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -webkit-gradient (left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(34%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );

}

.banner6 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
  
}

.banner6 .bg-facebook {
  background-color: #3b5a9a;
}

.banner6 .bg-twitter {
  background-color: #56adf2;
}

.banner6 .text-danger {
  color:#B298DC !important;
}

.banner6 .right-image {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

@media (max-width: 1023px) {
  .banner6 .contact-form {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 767px) {
  .banner6 .contact-form {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 1023px) {
	.banner6 .right-image {
		position: relative;
		bottom: -95px;
	}
}
.banner6{
  margin-top: 150px;
  margin-bottom: 150px;
}
@media (max-width: 400px){
  .banner6{
    margin-bottom: 0px;
  }
}
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact2 {
  font-family: 'Meera Inimai', sans-serif;
  color: #070707;
  font-weight: 300;
	padding: 60px 0;
  margin-bottom: 170px;
  background-position: center top;
}

.contact2 h1,
.contact2 h2,
.contact2 h3,
.contact2 h4,
.contact2 h5,
.contact2 h6 {
  color: #3e4555;
}

.contact2 .font-weight-medium {
  font-weight: 500;
}

.contact2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.contact2 .bg-image {
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.contact2 .card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact2 .detail-box .round-social {
  margin-top: 100px;
}

.contact2 .round-social a {
  background: transparent;
  margin: 0 7px;
  padding: 11px 12px;
}

.contact2 .contact-container .links a {
  color: #8d97ad;
}

.contact2 .contact-container {
  position: relative;
  top: 200px;
}

.contact2 .btn-danger-gradiant {
  background: rgba(252,236,252,1);
  background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -webkit-gradient (left top, right top, color-stop (0%, rgba(252,236,252,1)), color-stop(15%, rgba(251,166,225,1)), color-stop(92%, rgba(253,137,215,1)), color-stop(100%, rgba(255,124,216,1)));
  background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
}

.contact2 .btn-danger-gradiant:hover {
background: rgba(255,93,177,1);
background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -webkit-gradient (left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(34%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );
}
.text-black{
  font-size: 20px;
  font-weight: bold;
  color:black;
}
H5.text-black{
  color:black;
}
div.bg-image{
  filter:grayscale(60%);
}
@import url(//fonts.googleapis.com/css?family=Montserrat:400,500,700);
.banner3 {
  font-family: 'Meera Inimai', sans-serif;
  color:black;
  font-weight: 300;
  max-height: 800px;
  margin-top: 70px;
  filter:grayscale(20%);
  margin-bottom: 200px;
}

.banner3 .banner {
  position: relative;
  max-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  display: table;
}

.banner3 h1,
.banner3 h2,
.banner3 h3,
.banner3 h4,
.banner3 h5,
.banner3 h6 {
  color: #3e4555;
}

.banner3 .font-weight-medium {
  font-weight: 500;
}

.banner3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.banner3 .btn-danger-gradiant {
  background: rgba(252,236,252,1);
  background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -webkit-gradient (left top, right top, color-stop (0%, rgba(252,236,252,1)), color-stop(15%, rgba(251,166,225,1)), color-stop(92%, rgba(253,137,215,1)), color-stop(100%, rgba(255,124,216,1)));
  background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 15%, rgba(253,137,215,1) 92%, rgba(255,124,216,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8', GradientType=1 );
}
.banner3 .btn-danger-gradiant:hover {
background: rgba(255,93,177,1);
background: -moz-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -webkit-gradient (left top, right top, color-stop(0%, rgba(255,93,177,1)), color-stop(34%, rgba(255,93,177,1)), color-stop(100%, rgba(239,1,124,1)));
background: -webkit-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -o-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: -ms-linear-gradient(left, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
background: linear-gradient(to right, rgba(255,93,177,1) 0%, rgba(255,93,177,1) 34%, rgba(239,1,124,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#ef017c', GradientType=1 );
}

.banner3 .btn-danger-gradiant.active,
.banner3 .btn-danger-gradiant:active,
.banner3 .btn-danger-gradiant:focus {
  -webkit-box-shadow: 0px;
  box-shadow: 0px;
  opacity: 1;
}


.banner3 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.banner3 .form-row {
  margin: 0;
}

.banner3 label.font-12 {
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 5px;
}

.banner3 .form-control {
  color: #8d97ad;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.banner3 .date label {
  cursor: pointer;
  margin: 0;
}

@media (max-width: 370px) {
  .banner3 .left,
  .banner3 .right {
    padding: 25px;
  }
}

@media (max-width: 320px) {
  .banner3 .left,
  .banner3 .right {
    padding: 25px 15px;
  }
}

.banner3 .font-14 {
  font-size: 14px;
}

.banner3 .text-inverse {
  color: #3e4555 !important;
}

.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}
blockquote{
  border-left:none
}

.quote-badge{
  background-color: rgba(0, 0, 0, 0.2);   
}

.quote-box{
  
  overflow: hidden;
  margin-top: -50px;
  padding-top: -100px;
  border-radius: 17px;
  background-color: #4ADFCC;
  margin-top: 25px;
  color:white;
  width: 325px;
  box-shadow: 2px 2px 2px 2px #E0E0E0;
  margin-right: 50px;
  margin-left: 5px;
  
}

.quotation-mark{
  
  margin-top: -10px;
  font-weight: bold;
  font-size:100px;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

.quote-text{
  
  font-size: 19px;
  margin-top: -65px;
}
#client-testimonial-carousel {
    min-height: 200px;
}
.bg-dark2{
    background-color: #263238;
    margin-top: 80px;
    border-radius: 10px;
    transition:box-shadow 0.5s,transform 0.8s,background-color 1s;
    box-shadow: 0px 10px 25px #00000064;
    margin-bottom:80px ;
    
  }
  @import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
.static-slider10 {
  font-family: 'Meera Inimai', sans-serif;
  font-weight: 300;
	padding: 10% 0;
  background-size: cover;
  background-position: center center;
  margin-bottom: 100px
 
}

.static-slider10 .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}

.static-slider10 .subtitle {
    line-height: 24px;
}

@media (max-width: 900px) {
  .static-slider10 .title {
    font-size: 40px;
    line-height: 45px;
  }
}

.static-slider10 .btn-md {
    padding: 15px 45px;
    font-size: 16px;
}

.static-slider10 .badge {
	line-height: 21px;
}

.static-slider10 .badge-inverse {
	background: #3e4555;
}

.static-slider10 .op-8 {
	opacity: 0.8;
}
.col-md-8{
  background-color:rgba(0, 0, 0, 0.301);
}
.container5{
  margin-bottom: 200px ;
}
.d-none{
 font-family:  'Meera Inimai', sans-serif;
 font-size: 20px;
}
h6{
font-size: 25px;
}
.justify-content-center{
  margin-right: 0px;
}
